*,*::before,*::after{
    box-sizing: border-box;
}

.img-slider-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 300ms ease-in-out;
    opacity: 0.9;
}

.img-slider-btn >*{
    color: white;
}
.img-slider-btn{
    all:unset;
    display: block;
    position: absolute;
    top: 0;
    bottom:0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
    opacity: 0;
}

.img-slider-btn:hover{
    background-color: rgb(0, 0, 0, 0.2);
    opacity: 1;
}

.img-slider-btn > *{
    stroke: white;
    fill: black;
    width: 2rem;
    height: 2rem;
}

.img-slider-dot-btn{
    all:unset;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 1.5rem;
}

.img-slider-dot-btn:hover,
.img-slider-dot-btn:focus-visible{
    border-radius: 100%;
    scale: 1.2;
    background-color: rgb(0, 0, 0, 0.2);
}

.img-slider-dot-btn > *,
.img-slider-dot-btn:focus-visible > *{
    stroke:white;
    fill: black;
    height: 100%;
    width: 100%;
}

.img-slider-dot-btn:focus-visible,
.img-slider-btn:focus-visible{
    outline: auto;
}